<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1e90c6fbb0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
<header class="main-header">
    <div class="main-header-top-bar">
        <img src = "/images/logo-mercado-liebre.svg" class="logo">
        <h2 class="copy-header"> <i class="fas fa-hand-holding-usd"></i>
            Comprá en cuotas y sin tarjeta de crédito </h2>
    </div>

    <a href="#" class="hamburguer-button">
        <i class="fas fa-bars"></i>
    </a>   
    <nav class="main-navbar"> 
        <ul>
            <li><a ref="#">Ofertas</a></li>
            <li><a ref="#">Tiendas Oficiales</a></li>
            <li><a ref="#">Vender</a></li>
            <li><a ref="#">Ayuda</a></li>
        </ul>
        <ul>
            <li><a ref="#">Creá tu cuenta</a></li>
            <li><a ref="#">Ingresá</a></li>
            <li><a ref="#">Mis Compras</a></li>
        </ul>
    </nav>

</header>    
</body>
</html>